<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <p id="pf">Contact : 0987654321</p>
    <p id="pf">
      Follow Us On : <img id="ficon" src="/images/facebook.png" alt="" /><img
        id="ficon"
        src="/images/twitter.png"
        alt=""
      /><img id="ficon" src="/images/instagram.png" alt="" />
    </p>
    <div id="last" class="text-center">
      <span id="last">&copy;FakeStore 2022</span>
    </div>
  </div>
</footer>
