<nav class="navbar navbar-dark bg-dark navbar-expand-md py-0 sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FakeStore</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ">
          <li class="nav-item"id="n1">
            <a id="btn1"type="button"href="/products" class="btn btn-outline-light  btn-sm mt-1 pt-0 pl-1">Home</a>
          </li>
          <li class="nav-item"id="navbtn">
            <a id="btn" href="/products" class="btn btn-outline-light  btn-sm mt-1 pt-0 pl-1">Products</a>
          </li>
          <li class="nav-item"id="navbtn">
            <button id="btn"type="button"href="#" class="btn btn-outline-light  btn-sm mt-1 pt-0 pl-1">Testimonials</button>
          </li>
          <li class="nav-item"id="navbtn">
            <button id="btn"type="button"href="#" class="btn btn-outline-light  btn-sm mt-1 pt-0 pl-1">Contact Us</button>
          </li>
        </ul>
      </div> 
  </nav>